<div id="four_road">
    <div class="row " style="height: 100%;">
        <div class="col-md-4">
            <div class="first_first" style="height: 33%;">
                <ngx-equipment-status device='device_mts_01' style="display: flex;width: 100%;"></ngx-equipment-status>
            </div>
            <div class="first_second lattice_layout height_24">
                <div class="part_title">{{'equipment.expInfor'|translate}}</div>
                <ngx-test-information device='device_mts_01' style="width: 100%;"></ngx-test-information>

            </div>
            <div class="dis_f_w first_third lattice_layout height_32">
                <div class="part_title">{{'equipment.LogWarm' | translate}}</div>
                <ngx-log-warm device='device_mts_01' style="display: flex;width: 100%;flex-wrap: wrap;"></ngx-log-warm>
            </div>
        </div>
        <div class="col-md-4">
            <div class="sceond_fisrt height_24">
                <div class="part_title">{{ 'equipment.equipIntroduce'|translate}}</div>
                <div style="padding: 20px;text-align: left;font-size: 12px;overflow: auto;" [innerHTML]="str">
                </div>
            </div>
            <div class="center_img">
                <div class="part_title">{{'equipment.OnlineVideo'|translate}}</div>
                <img id="img" [src]="img.url" [alt]="img.name">
            </div>
            <div class="sceond_third height_32" style="display: inherit;;box-shadow:0px 0px;padding: 0%;margin-top: 10px;">
                <ngx-chart-curve-v3 #chart_3 [chartName]="'chart_3'" (clicEvent)="clicEvent($event,3)" [list]="list_3">
                    <div style="width: 100%;display: flex;">
                        <div class="table height_38" style="width: 66%;margin-bottom: 0px;">
                            <div class="table_bo height_48">
                                <table>
                                    <tr class="header">
                                        <td *ngFor="let title of switchStatus.title" [ngStyle]="{'width':get_td_width(switchStatus.title.length)}">
                                            {{"equipment."+title | translate}}
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="table_bo height_58">
                                <table>
                                    <tr class="body" *ngFor="let items of switchStatus.data">
                                        <td *ngFor="let item of items;let i = index" [ngStyle]="{'width':get_td_width(switchStatus.title.length)}">
                                            <div *ngIf="i == 0;else graphical">{{item}}</div>
                                            <ng-template #graphical>
                                                <div id="{{item.id}}" [ngStyle]="{'background': item.color}">
                                                </div>
                                            </ng-template>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="width_33 height_38">
                            <div class="height_30" style="margin-top: 5px;" *ngFor="let item of real_list">
                                {{item.name}}{{'equipment.OilSeparator'|translate}}：
                                <span [ngStyle]="{'color':item.color}">
                                    {{item.value}}
                                </span>
                            </div>
                        </div>
                    </div>
                </ngx-chart-curve-v3>

                <!-- <div class="table" style="height: 57%;">
                    <ngx-chart-curve #chart_5 title='角度/力' [chartName]="'chart_5'"></ngx-chart-curve>
                </div> -->
            </div>
        </div>
        <div class="col-md-4">

            <div class="thrid">
                <div class="part_title">{{'equipment.experimentParams'|translate}}</div>
                <div class="display_f height_50" style="max-height: 100px;margin-top: 10px;">
                    <div class="width_33">
                        <div>
                            {{'equipment.realime' |translate}}{{'equipment.ambient' |translate}}{{'equipment.temperature' |translate}}

                        </div>
                        <div id="real_temperature_1"></div>
                    </div>

                    <div class="width_33">
                        <div>
                            {{'equipment.realime' |translate}}{{'equipment.ambient' |translate}}{{'equipment.humidity' |translate}}
                        </div>
                        <div id="real_temperature_2"></div>
                    </div>
                    <div class="width_33" style="margin-top: 3%;">
                        <p class="p_backgroud_blue">
                            {{'equipment.setup' |translate}}{{'equipment.temperature' |translate}}:<span style="color: green;">22℃</span></p>
                        <p class="p_backgroud_blue">
                            {{'equipment.setup' |translate}}{{'equipment.humidity' |translate}}:<span>22℃</span></p>
                    </div>
                </div>
                <div class="height_50" id="third_second"></div>

            </div>
            <div class="height_29 bo" style="margin-top: 14px;">
                <ngx-chart-curve-v3 #chart_2 [chartName]="'chart_2'" (clicEvent)="clicEvent($event,2)" dashboardName='dashboard_2' [list]="list_2"></ngx-chart-curve-v3>
            </div>
            <div class="height_29 bo" style="margin-top: 14px;">
                <ngx-chart-curve-v3 #chart_1 [chartName]="'chart_1'" (clicEvent)="clicEvent($event,1)" chartVivid='brokenline' dashboardName='dashboard_1' [list]="list_1"></ngx-chart-curve-v3>
            </div>

        </div>
    </div>

</div>