

<ag-grid-angular
    #agGrid 
    style="width: 100%; height: 500px;"
    class="ag-theme-alpine"
    [rowData]="rowData"
    [columnDefs]="columnDefs"
    [context]="context"

    [pagination]="true"
    [rowSelection]="rowSelection"
    [paginationPageSize]="paginationPageSize"
    [paginationNumberFormatter]="paginationNumberFormatter"
    [suppressScrollOnNewData]="suppressScrollOnNewData"
    [suppressPaginationPanel]="suppressPaginationPanel"
    [suppressRowClickSelection]="suppressRowClickSelection"


    (filterModified)="onfilterModified($event)"
    (selectionChanged)="onSelectionChanged($event)"

    
    
    [frameworkComponents]="frameworkComponents"
    (paginationChanged)="onPaginationChanged($event)"
    (gridReady)="onGridReady($event)"
    (rowClicked)="onRowClicked($event)"


>
</ag-grid-angular>
<br>
<!-- <nz-pagination [(nzPageIndex)]="current" [nzTotal]="totalPageNumbers"
                   nzShowSizeChangerc
                   nzShowQuickJumper
                   (nzPageIndexChange)="pageIndexChange($event)"
                   (nzPageSizeChange)="pageSizeChange($event)"
                   [nzShowTotal]="totalTemplate"
                   
    > -->
<div class="row">
    <div class="col-md-10" style="text-align: right;">
        <nz-pagination [(nzPageIndex)]="current" [nzTotal]="totalPageNumbers"
                    [nzPageSize] = "setPageCount"
                   nzShowQuickJumper
                   (nzPageIndexChange)="pageIndexChange($event)"
                   
                   [nzShowTotal]="totalTemplate"
                   
        >
        </nz-pagination>
    </div>

    <div class="col-md-2">
        <div class="select_page">
            <nb-select placeholder="10条/页" size="small" [(selected)]="paginationPageSize"  (selectedChange)="onPageSizeChanged2()">
                <nb-option value="10" >10条/页</nb-option>
                <nb-option value="20">20条/页</nb-option>
                <nb-option value="30">30条/页</nb-option>
                <nb-option value="40">40条/页</nb-option>
                <nb-option value="50">50条/页</nb-option>
            </nb-select>

        </div>
    </div>
</div>

<ng-template #totalTemplate let-total>共 {{ alltotalPageNumbers }} 条, 已选{{selectedRows.length}}条</ng-template>

