<div class="row" style="min-height: 800px">
    <div class="col-md-1" style="padding: 0px 4px; background: #ffffffb0;">
        <nb-card fullWidth>
            <nb-menu [items]="items" >
            </nb-menu>
            <!-- <a [routerLink]="['/pages/mobile-gps/gpsmodule-manage/assets']">资产管理</a>
            <a [routerLink]="['/pages/mobile-gps/gpsmodule-manage/assets']">充电管理</a> -->
        </nb-card>
    </div>
    <div class="col-md-11" >
        <router-outlet></router-outlet>
    </div>
</div>

<!-- <nb-layout>
    <nb-sidebar tag="myLeft">
        <nb-menu [items]="items" tag="">
        </nb-menu>
    </nb-sidebar>
    <nb-layout-column>
        <router-outlet></router-outlet>
    </nb-layout-column>
</nb-layout> -->