<nb-card>
    <nb-card-body>
        <div class="flex-centered col-xl-4 col-lg-6 col-md-8 col-sm-12">
            <h2 class="title">500 Server Internal error</h2>
            <small class="sub-title">The Service internal error,Your request could not be executed, Please contact the person concerned!</small>
            <!-- 服务器内部出错， 服务器内部出错 无法执行您的请求，请联系相关人员-->
            <button nbButton fullWidth (click)="goToHome()" type="button" class="home-button">
                Take me home
            </button>
        </div>
    </nb-card-body>
</nb-card>
