<div id="four_road">
    <div class="row " style="height: 100%;">
        <div class="col-md-4">
            <div class="first_first" style="height: 33%;">
                <div class="andon_status">
                    <div class="part_title">{{'equipment.equipmentStatus' | translate}}</div>
                    <div class="andon_status_font">
                        {{'equipment.SafetyLampStatus' | translate}}
                    </div>
                    <div class="andon_color">
                        <div *ngFor="let item of andon;let i = index;" style="height: 25%;">
                            <div class="bo_black {{ item.color}} {{item.status == 1?'bright':'dark'}}" [ngStyle]="{'border-top': i != 0 ? '3px solid black':''}" [ngClass]="{'first':i==0,'last':i == andon.length-1}">
                                <Span>{{item.name}}</Span>
                            </div>
                        </div>
                    </div>
                    <div class="andon_img"></div>
                </div>
                <div class="andon_status_chart">
                    <div class="row chart">
                        <div class="col-md-6" id="device_circular_1"></div>
                        <div class="col-md-6" id="device_circular_2"></div>
                    </div>
                    <div id="device_status"></div>
                    <div id="operatingRate"></div>
                </div>
            </div>
            <div class="first_second lattice_layout height_24">
                <div class="part_title" style="top: -8px;left: 2px;">{{'equipment.expInfor'|translate}}</div>
                <div class="first_second_font">
                    <div class="width_30">{{'equipment.BenchPIC'|translate }}</div>
                    <div class="width_70">{{ experiment.user }} {{ 'equipment.contact'|translate }}:{{ experiment.phone }}</div>
                </div>
                <div class="first_second_font" *ngIf="experiment.data.length <= 2">
                    <div class="width_30">{{ 'equipment.NextExperiment'|translate }}</div>
                    <div class="width_70">{{ experiment.nexttest }}</div>
                </div>
                <div class="first_second_font" *ngIf="experiment.data.length <= 2">
                    <div class="width_30">{{ 'equipment.PLanDuration'|translate }}</div>
                    <div class="width_70">{{ experiment.nextdate }}</div>
                </div>
                <div class="table">
                    <div class="table_bo">
                        <table>
                            <tr class="header">
                                <td *ngFor="let title of experiment.title">
                                    {{'equipment.'+title | translate }}
                                </td>
                            </tr>

                        </table>
                    </div>
                    <div class="table_bo" style="overflow: auto;" [ngStyle]="{'height':get_height()}">
                        <table>
                            <tr class="body" *ngFor="let items of experiment.data">
                                <td *ngFor="let item of items;let i = index">
                                    <div *ngIf="i == 2;else fontTemp" style="color: white;position: relative;">
                                        <nz-progress [nzPercent]="item" nzSize="small" [nzShowInfo]="false" nzStatus="{{item<70?'active':'exception'}}"></nz-progress>
                                        <div style="position: absolute;top: 0px;;" [ngStyle]="{'left':getleft(item)}">
                                            {{item}}%
                                        </div>
                                    </div>
                                    <ng-template #fontTemp>
                                        <div class="font_tolong">{{item}}</div>
                                    </ng-template>

                                </td>
                            </tr>
                        </table>
                    </div>

                </div>
            </div>
            <div class="dis_f_w first_third lattice_layout height_31" style="display: flex;">
                <div class="part_title" style="top: -8px;left: 2px;">{{'equipment.LogWarm' | translate}}</div>
                <div class="h_46_w_30">
                    <div style="width: 10%;">{{'equipment.LV1Warm'|translate}}</div>
                    <div id="circular"></div>
                </div>
                <div class="h_46_w_70" id="warning"></div>
                <div class="table height_50" style="margin-top: 10px;">
                    <div class="table_bo" style="height: 21%;">
                        <table>
                            <tr class="header">
                                <td *ngFor="let title of log_warm.title;let i = index" [ngStyle]="{'width':i == 0?'20%':i == 1?'25%':'60%'}">
                                    {{'equipment.'+title | translate }}
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="table_bo overflow_height_85">
                        <table>
                            <tr class="body" *ngFor="let items of log_warm.data;let i =index" [ngStyle]="{'color':items[3] == 1?'red':items[3]==3?'':'yellow'}">
                                <td *ngFor="let item of items;let i = index" style="padding: 0%;height: 20%;" [ngStyle]="{'width':i == 0?'20%':i == 1?'20%':'60%'}">
                                    <div class="font_w_too_long" *ngIf="i == 0;else logTemp">{{item | date:'yyyy-MM-dd'}}</div>
                                    <ng-template #logTemp>
                                        <div class="font_w_too_long" style="width: 100%;" *ngIf="i != 3;else nullTemp">{{item}}</div>
                                        <ng-template #nullTemp></ng-template>
                                    </ng-template>
                                </td>

                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="sceond_fisrt height_24">
                <div class="part_title" style="top: -8px;left: 18px;overflow: auto;">{{ 'equipment.equipIntroduce'|translate}}</div>
                <div style="padding: 20px;text-align: left;font-size: 12px;" [innerHTML]="str">
                </div>
            </div>
            <div class="center_img">
                <div class="part_title" style="top: -8px;left: 12px;">{{'equipment.OnlineVideo'|translate}}</div>
                <img id="img" [src]="img.url" [alt]="img.name">
            </div>
            <div class="sceond_third">
                <div class="part_title" style="top: -8px;left: 12px;">{{'equipment.realStatus'|translate}}</div>
                <div style="width: 70%;display: flex;margin-top: 7px;">
                    <div class="table height_100" style="width: 100%;margin-bottom: 0px;">
                        <div class="table_bo height_21">
                            <table>
                                <tr class="header">
                                    <td *ngFor="let title of switchStatus.title;let i = index" style="word-break: break-all;" [ngStyle]="{'width':get_td_width(switchStatus.title.length,i)}">
                                        {{"equipment."+title | translate}}
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="table_bo height_78" style="overflow: auto;max-height: 210px;">
                            <table>
                                <tr class="body" *ngFor="let items of switchStatus.data">
                                    <td *ngFor="let item of items;let i = index" style="height: 30px;" [ngStyle]="{'width':get_td_width(switchStatus.title.length,i)}">
                                        <div class="font_w_too_long" *ngIf="i == 0;else graphical">{{item}}</div>
                                        <ng-template #graphical>
                                            <div id="{{item.id}}" [ngStyle]="{'background': item.color}">
                                            </div>
                                        </ng-template>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div style="height: 100%;width: 30%;">
                    <div *ngFor="let item of real_list" [ngStyle]="{'height': 100/real_list.length+'%'}">
                        {{'equipment.OilSeparator'|translate}}{{item.name}}：
                        <!-- <br> -->
                        <!-- <div class="display_f" id="oilseparator"> -->
                        <!-- 关 -->
                        <!-- <div [ngClass]="{'box_bo_click':getbtnStatus(item,1) }" class="btn">
                                <div *ngFor="let item of [1,2,3]" class="rectangle" [ngStyle]="{'background':[3].includes(item) && item.on == 0?'red':'white'}">
                                </div>
                            </div> -->
                        <!-- 低 -->
                        <!-- <div [ngClass]="{'box_bo_click':getbtnStatus(item,2) }" class="btn">
                                <div *ngFor="let item of [1,2,3]" class="rectangle" [ngStyle]="{'background':[2,3].includes(item)?'white':''}">
                                </div>
                            </div> -->
                        <!-- 高 -->
                        <!-- <div [ngClass]="{'box_bo_click':getbtnStatus(item,3) }" class="btn">
                                <div *ngFor="let item of [1,2,3]" class="rectangle" style="background: white;">
                                </div>
                            </div> -->
                        <!-- </div> -->
                        <span [ngStyle]="{'color':item.on == 0?'red':item.high == 0?'white':'yellow'}">
                            {{item.on == 0?'关':item.high == 0?'低':'高'}}
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="part_title" style="top: -8px;left: 18px;">{{'equipment.experimentParams'|translate}}</div>
            <div class="thrid">
                <div style="display: flex;flex-wrap: wrap;" class="height_30 bo">
                    <div style="display: flex;width: 100%;" class="height_50">
                        <div class="width_33 ">
                            <div>
                                {{'equipment.realime' |translate}}{{'equipment.ambient' |translate}}{{'equipment.temperature' |translate}}
                            </div>
                            <div id="real_temperature_1"></div>
                        </div>

                        <div class="width_33 ">
                            <div>
                                {{'equipment.realime' |translate}}{{'equipment.ambient' |translate}}{{'equipment.humidity' |translate}}
                            </div>
                            <div id="real_temperature_2"></div>
                        </div>
                        <div class="width_33" style="margin-top: 3%;">
                            <p class="p_backgroud_blue">
                                {{'equipment.setup' |translate}}{{'equipment.temperature' |translate}}:<span style="color: green;">22℃</span></p>
                            <p class="p_backgroud_blue">
                                {{'equipment.setup' |translate}}{{'equipment.humidity' |translate}}:<span>22℃</span></p>
                        </div>
                    </div>
                    <div id="third_second">
                    </div>
                </div>
                <div class="height_32 ">
                    <ngx-chart-curve-v3 #chart_2 [chartName]=" 'chart_2' " (clicEvent)="clicEvent($event,2) " dashboardName='dashboard_2' [list]="list_2 "></ngx-chart-curve-v3>
                </div>
                <div class="height_32">
                    <ngx-chart-curve-v3 #chart_1 [chartName]=" 'chart_1' " chartVivid='brokenline' (clicEvent)="clicEvent($event,1) " dashboardName='dashboard_1' [list]="list_1 "></ngx-chart-curve-v3>
                </div>
            </div>


        </div>
    </div>



</div>