#mast {
    width: 100%;
    height: 100%;
    // height: 900px;
    .box_border {
        box-shadow: 5px 0px 9px 3px rgb(100, 66, 125);
        border: 1px solid rgba(1, 1, 1, 0.2);
        padding: 2%;
        color: white;
        position: relative;
    }
    .box_title {
        position: absolute;
        background: #4472c4;
        padding: 1% 4%;
        top: -7%;
        left: 40%;
    }
    .article {
        // 开头空两格
        text-indent: 2em;
        text-align: left;
    }
    .dis_flex {
        display: flex;
        .key {
            width: 33%;
        }
        .value {
            width: 66%;
        }
    }
    .table {
        border: 1px solid rgb(68, 114, 196);
        color: white;
        table {
            width: 100%;
            height: 100%;
            .header {
                // height: 10%;
                background: rgb(68, 114, 196);
                td {
                    padding: 5px;
                }
            }
            .body {
                font-size: 12px;
                .progress_o {
                    border-radius: 3px;
                    width: 100%;
                }
                td {
                    padding: 5px;
                }
                nz-progress {
                    width: 70%;
                }
            }
        }
        .font_tolong {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    #circle {
        width: 60px;
        height: 60px;
        background: #7fee1d;
        border-radius: 60px;
        // margin-left: 50%;
        margin: 25%;
    }
    .information {
        height: 45%;
        margin-top: 2%;
        padding: 9% 0%;
    }
    .red_backgroud {
        background-color: red;
    }
    .green_backgroud {
        background-color: green;
    }
    #percentage {
        width: 100%;
        height: 100%;
    }
    #device_status {
        width: 100%;
        height: 100%;
    }
    #lamp {
        width: 20px;
        height: 20px;
        border-radius: 20px;
    }
    .padding_t_l {
        padding-left: 2%;
        padding-top: 2%;
    }
    .margin_t_20 {
        margin-top: 20px;
    }
    .width_30 {
        width: 30%;
    }
    .width_50 {
        width: 50%;
    }
    .width_70 {
        width: 70%;
    }
    .width_100 {
        width: 100%;
    }
    .height_20 {
        height: 20%;
    }
    .height_25 {
        height: 25%;
    }
    .height_27 {
        height: 27%;
    }
    .height_30 {
        height: 30%;
    }
    .height_31 {
        height: 31%;
    }
    .height_33 {
        height: 33%;
    }
    .height_36 {
        height: 36%;
    }
    .height_39 {
        height: 39%;
    }
    .height_40 {
        height: 40%;
    }
    .height_50 {
        height: 50%;
    }
    .height_60 {
        height: 60%;
    }
    .height_66 {
        height: 66%;
    }
    .height_70 {
        height: 70%;
    }
    .height_71 {
        height: 71%;
    }
    .height_77 {
        height: 77%;
    }
    .height_80 {
        height: 80%;
    }
    .height_100 {
        height: 100%;
    }
}