<div id="mast">
    <div class="row height_100">
        <div class="col-md-4">
            <div class="box_border height_25">
                <div class="box_title">集成亮点</div>
                <div class="article margin_t_20" [innerHTML]="integrate.str">
                    <!-- {{integrate.str | to_trusted}} -->
                </div>
            </div>
            <div class="box_border height_71 margin_t_20">
                <div class="box_title" style="top: -3%;">实验信息</div>
                <div style="text-align: left;padding: 5% 10%;">
                    <div class="dis_flex">
                        <div class="key">
                            实验名称：
                        </div>
                        <div class="value">
                            {{testInformation.name}}
                        </div>
                    </div>
                    <div class="dis_flex">
                        <div class="key">
                            计划时长：
                        </div>
                        <div class="value">
                            {{testInformation.duration}}
                        </div>
                    </div>
                </div>
                <div class="table">
                    <div class="table_bo">
                        <table>
                            <tr class="header">
                                <td *ngFor="let header of experiment.header" [ngStyle]="{'width':header.s.w}">
                                    {{header.t}}
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="table_bo" style="overflow: auto;" [ngStyle]="{'height':get_height()}">
                        <table>
                            <tr class="body" *ngFor="let items of experiment.data">
                                <td *ngFor="let item of items;let i = index" [ngStyle]="{'width':experiment.header[i].s.w}">
                                    <div *ngIf="i == 1;else fontTemp" style="display:flex">
                                        <div style="margin-left: 10%;">
                                            {{item}}%
                                        </div>
                                        <nz-progress [nzPercent]="item" nzSize="small" [nzShowInfo]="false" nzStatus="{{item<70?'active':'exception'}}"></nz-progress>
                                    </div>
                                    <ng-template #fontTemp>
                                        <div class="font_tolong">{{item}}</div>
                                    </ng-template>

                                </td>
                            </tr>
                        </table>
                    </div>

                </div>
                <div style="display: flex;">
                    <div *ngFor="let item of experiment.people" [ngStyle]="{'width':getWidth(experiment.people.length)}">
                        <div>
                            <img [src]="item.imgSrc" [alt]="item.name">
                        </div>
                        <div class="margin_t_20">
                            {{item.job}}:{{item.name}}
                        </div>
                        <div class="margin_t_20">
                            联系方式:{{item.phone}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="height_27 dis_flex">
                <div class="dis_flex width_100">
                    <div class="box_border width_50" *ngFor="let item of runningS" style="margin-right: 10px;">
                        <div>{{item.name}}：
                            <span [ngStyle]="{'color':item.status == 1?'green':'red'}">
                                {{item.status == 1?'开':'停'}}
                            </span>
                        </div>
                        <div id="circle" [ngStyle]="{'background':item.status == 1?'green':'red'}"></div>
                    </div>
                </div>
            </div>
            <div class="margin_t_20" style="height: 33%;">
                <img class="height_100 width_100" src="../../../../assets/eimdoard/equipment/images/center.png">
            </div>
            <div class="box_border height_33  margin_t_20 dis_flex" style="padding-top: 10%;">
                <div class="box_title">设备利用率</div>
                <div class="height_100 width_30">
                    <div id="percentage"></div>
                </div>
                <div class="height_100 width_70">
                    <div id="device_status"></div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box_border height_27">
                <div class="box_title">信息安全</div>
                <div class="information red_backgroud">今日已点检</div>
                <div class="information green_backgroud">人员闯入</div>
                <!-- <div class="dis_flex" style="flex-wrap: wrap;">
                    <div *ngFor="let item of hudHighPressure" class="width_50 dis_flex" style="padding-top:3%;">
                        <div style="width: 50%;">{{item.name}}:</div>
                        <div style="width: 98px;height: 30px;background: green;">
                            {{item.value == 1?'高压':item.value == -1?'离线':'自动'}}
                        </div>
                    </div>
                </div> -->
            </div>
            <div class="box_border height_39 margin_t_20" style="display: flex;flex-wrap: wrap;">
                <div class="box_title ">动力参数</div>
                <div class="height_50" *ngFor="let item of dashboardList" [ngStyle]="{'width':getWidth(3)}">
                    <div class="height_80" id="{{item.id}}"></div>
                    <div class="height_20">
                        <div style="margin-left: 42%;" id="lamp" [ngStyle]="{'background':item.lampcolor}"></div>
                    </div>
                </div>
            </div>
            <div class="box_border height_27 margin_t_20" style="display: flex;flex-wrap: wrap;padding: 5% 2% 2% 2%;">
                <div class="box_title">传感器状态</div>
                <div *ngFor="let item of sensorList" style="display: flex;" [ngStyle]="{'width':getWidth(3)}">
                    {{item.name}}:
                    <div *ngIf="item.type == 'lamp';else fontTemp" id="lamp" [ngStyle]="{'background':item.value==1?'green':'yellow'}"></div>
                    <ng-template #fontTemp>
                        {{ item.value }}
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>