.my-select{
    height: 40px;
    // border: 1px greenyellow solid;
}
.my-button{
    text-align: center;
    height: 40px;
    padding-top: 3px;
    // 导入文件
    .import{
        display:none
    }
    
}

.device_manage_table{
    margin-top: 20px;
}


// 导入---导出
.my-button{
  text-align: center;
  height: 40px;
  padding-top: 3px;
  // 导入文件
  .import{
      display:none
  }
  
}

// .smart-table-container{
//   overflow-x: scroll;
// }

