<div class="andon_status">
    <div class="part_title">{{'equipment.equipmentStatus' | translate}}</div>
    <div class="andon_status_font">
        {{'equipment.SafetyLampStatus' | translate}}
    </div>
    <div class="andon_color">
        <div *ngFor="let item of andon;let i = index;" style="height: 25%;">
            <div class="bo_black {{ item.color}} {{item.t == andon_now?'bright':'dark'}}" [ngStyle]="{'border-top': i != 0 ? '3px solid black':''}" [ngClass]="{'first':i==0,'last':i == andon.length-1}">
                <Span>{{item.name}}</Span>
            </div>
        </div>
    </div>
    <div class="andon_img"></div>
</div>
<div class="andon_status_chart">
    <div class="chart height_30">
        <div id="device_circular_1"></div>
        <div id="device_circular_2"></div>
    </div>
    <div class="chart height_70">
        <div id="operatingRate" class="height_30"></div>
        <div id="device_status" class="height_70"></div>
    </div>

</div>