.andon_status {
    width: 14%;
    .andon_color {
        border: 3px solid rgb(157, 195, 230);
        border-radius: 21px;
        height: 74%;
        .last {
            border-bottom-left-radius: 17px;
            border-bottom-right-radius: 17px;
        }
        .first {
            border-top-left-radius: 17px;
            border-top-right-radius: 17px;
        }
    }
    .andon_status_font {
        margin-top: 17px;
        padding: 3px;
        color: white;
        font-size: 12px;
    }
    .andon_img {
        background: url('/assets/eimdoard/equipment/images/triangle.png');
        height: 11%;
        background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
        background-position: center center;
        margin-left: 10px;
    }
}

.andon_status_chart {
    width: 86%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    .chart {
        // height: 100%;
        padding-left: 21px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        // position: absolute;
        // min-height: 260px;
        #device_circular_1,
        #device_circular_2 {
            width: 33%;
            height: 100%;
        }
        #device_status,
        #operatingRate {
            // height: 45%;
            width: 95%;
            box-shadow: 0 0px 1px 3px rgba(50, 84, 129, 1) inset;
            // min-height: 50%;
        }
    }
}

.blue {
    background-color: #006ced;
    color: white;
    height: 100%;
    padding-top: 13%;
}

.red {
    background-color: #d71345;
    color: white;
    height: 100%;
    padding-top: 13%;
    ;
}

.green {
    background-color: rgb(74, 181, 107);
    color: white;
    height: 100%;
    padding-top: 13%;
}

.yellow {
    background-color: #faa755;
    color: white;
    height: 100%;
    padding-top: 13%;
}

nb-icon {
    z-index: 1;
    position: absolute;
    right: 0;
    background: yellow;
}

nb-card {
    border: rgba(0, 0, 0, 0);
    background-color: transparent;
    .div_right {
        text-align: right;
        width: 100%;
        /* padding: 15px; */
        margin-left: 2%
    }
}

.part_title {
    position: absolute;
    // width: 100px;
    padding: 0% 2%;
    height: 20px;
    color: wheat;
    background: #4472c4;
    top: 0;
    left: 0;
    min-width: 80px;
}