.myechart{
    // width: 100%;
    div{
        width: 100%;
        height: 300px;
        // min-width: 750px;
        // border: 1px greenyellow solid;
    };
    nb-card{
        margin-bottom: 20px;
    }

}

.card_two{
    margin-bottom: 5px !important;
}

.mychart_body{
    padding-top: 0px;
    padding-bottom: 0px;
    
}