


<div class="row">
    <div class="col-md-6 myechart">
        <nb-card>
            <nb-card-header>设备时间统计(小时)</nb-card-header>
            <nb-card-body class="mychart_body">
                <div class="left-one"></div>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-md-6 myechart">
        <nb-card>
            <nb-card-header>运行/停止/故障/非占位(百分比)</nb-card-header>
            <nb-card-body class="mychart_body">
                <div class="right-one"></div>
            </nb-card-body>
        </nb-card>
    </div>
</div>

<div class="row" >
    <div class="col-md-6 myechart">
        <nb-card class="card_two">
            <nb-card-header>月份运行时间(小时)</nb-card-header>
            <nb-card-body class="mychart_body">
                <div class="left-two"></div>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-md-6 myechart">
        <nb-card class="card_two">
            <nb-card-header>年份运行时间(小时)</nb-card-header>
            <nb-card-body class="mychart_body">
                <div class="right-two"></div>
            </nb-card-body>
        </nb-card>
    </div>
</div>