<div class="part_title">{{'equipment.LogWarm' | translate}}</div>
<div class="h_46_w_30">
    <div style="width: 10%;">{{'equipment.LV1Warm'|translate}}</div>
    <div id="circular"></div>
</div>
<div class="h_46_w_70" id="warning"></div>
<div class="table height_50">
    <div class="table_bo height_30" style="height: 26%;">
        <table>
            <tr class="header">
                <td *ngFor="let title of log_warm.title;let i =index" [ngStyle]="{'width':i == 0?'20%':i == 1?'20%':'60%'}">
                    {{"equipment."+title | translate}}
                </td>
            </tr>
        </table>
    </div>
    <div class="table_bo overflow_height_85">
        <table>
            <tr class="body" *ngFor="let items of log_warm.data;" style="height: 12px;" [ngStyle]="{'color':items[3] == 1?'red':items[3]==3?'':'yellow'}">
                <td *ngFor="let item of items;let i = index" style="padding: 0%;height: 20%;" [ngStyle]="{'width':i == 0?'20%':i == 1?'25%':'60%'}">
                    <div class="font_w_too_long" *ngIf="i == 0;else logTemp">{{item | date:'yyyy-MM-dd'}}</div>
                    <ng-template #logTemp>
                        <div class="font_w_too_long" style="width: 100%;" *ngIf="i != 3;else nullTemp">{{item}}</div>
                        <ng-template #nullTemp></ng-template>
                    </ng-template>
                </td>
            </tr>
        </table>
    </div>
</div>