<div class="row" style="margin-bottom: 10px;">
    <div class="col-md-2 statusinfo">
        <ngx-my-select-group #departmentselect [selectdatas]="departments"></ngx-my-select-group>
    </div>

    <div class="col-md-2 statusinfo">
        <ngx-my-select #device_tpye [selectdatas]="devicetpye"></ngx-my-select>
    </div>

    <div class="col-md-2 statusinfo">
        <ngx-my-select #asset_number [selectdatas]="assetnumber"></ngx-my-select>
    </div>

    <div class="col-md-2 statusinfo">
        <ngx-date-range #daterange></ngx-date-range>
    </div>

    <div class="col-md-2 statusinfo">
        <button nbButton status="info" (click)="query()">筛选</button>
    </div>
    <div class="col-md-2 statusinfo"></div>
</div>



<div class="row" style="padding: 0px 15px; margin-top: 10px;">
    <div class="col-md-1 myline"></div>
    <div class="col-md-1" style="text-align: center;">全部消息</div>
    <div class="col-md-10 myline"></div>
</div>

<div class="row">
    <div class="col-md-11"></div>
    <div class="col-md-1" style="text-align: center;">
        <button nbButton status="info" (click)="download('设备kpi统计')">导出</button>
    </div>
</div>

<div class="row" style="margin-top: 10px;">
    <div class="col-md-12">
        <ngx-my-table-ng2 #mytable  [datas]="device_kpi_table_data"></ngx-my-table-ng2>
    </div>
</div>
