nb-card{
    margin: 0px;
    padding: 0px;
}

.my-select{
    height: 40px;
    // top: 8px;
    // border: 1px greenyellow solid;
}
.my-button{
    text-align: center;
    height: 40px;
    padding-top: 3px;
    // 导入文件
    .import{
        display:none
    }
    
}

.device_manage_table{
    margin-top: 20px;
}


// 导入---导出
.my-button{
  text-align: center;
  height: 40px;
  padding-top: 3px;
  // 导入文件
  .import{
      display:none
  }
  
}

// .smart-table-container{
//   overflow-x: scroll;
// }

div{
    .layui-form-label{
        padding-left: 0px;
    }
    font: 14px Helvetica Neue,Helvetica,PingFang SC,Tahoma,Arial,sans-serif;

    input{
        border-color: #00d68f;
        line-height: 1.5rem;
        border-radius: 0.25rem;
        width: 160px;
    }
    input:hover{
        border-color: #00d68f;
        border-radius: 0.25rem;
        line-height: 1.5rem;
        cursor: pointer;
        background-color: #edf1f7;
        
    }
}


