#four_road {
    width: 100%;
    height: 100%;
    // height: 900px;
    .first_first,
    .first_second,
    .first_third,
    .sceond_fisrt,
    .sceond_third {
        // height: 33%;
        width: 100%;
        display: flex;
        // box-shadow: 0 0px 1px 3px rgba(50, 84, 129, 1) inset;
        background: url('/assets/eimdoard/equipment/images/blue_beijing.png') center center;
        background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
        padding: 2%;
        color: white;
    }
    .thrid {
        height: 30%;
        width: 100%;
        // box-shadow: 0 0px 1px 3px rgba(50, 84, 129, 1) inset;
        // padding: 2%;
        position: relative;
        color: white;
        background: url('/assets/eimdoard/equipment/images/blue_beijing.png') center center;
        background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
    }
    .part_title {
        position: absolute;
        // width: 100px;
        padding: 0% 2%;
        height: 20px;
        color: wheat;
        background: #4472c4;
        top: 0;
        left: 0;
        min-width: 80px;
    }
    .first_second_font {
        text-align: left;
        padding: 5px 0px 0px 10px;
        display: flex;
    }
    .table {
        // border: 1px solid rgb(68, 114, 196);
        color: white;
        margin-bottom: 0px;
        table {
            width: 100%;
            height: 100%;
            .header {
                // height: 10%;
                background: rgb(68, 114, 196);
                td {
                    width: 33%;
                    padding: 5px;
                }
            }
            .body {
                font-size: 12px;
                .progress_o {
                    border-radius: 3px;
                    width: 100%;
                }
                td {
                    padding: 5px;
                    width: 33%;
                }
            }
        }
        .font_tolong {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    .lattice_layout {
        margin-top: 10px;
        display: inherit;
        position: relative;
    }
    .table_bo {
        border: 1px solid #4472c4;
    }
    .center_img {
        // height: 100;
        height: 33%;
        position: relative;
        margin-top: 10px;
        #img {
            height: 100%;
            width: 100%;
            // background: url('/assets/eimdoard/equipment/images/car_2.png');
            background-size: cover;
            -webkit-background-size: cover;
            -o-background-size: cover;
            background-position: center center;
        }
    }
    .bo {
        // box-shadow: 0 0px 1px 3px rgba(50, 84, 129, 1) inset;
        background: url('/assets/eimdoard/equipment/images/blue_beijing.png') center center;
        background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
        padding: 2%;
    }
    .display_f {
        display: flex;
    }
    .p_backgroud_blue {
        padding-top: 10px;
        padding-bottom: 10px;
        color: white;
        background: #4472c4;
    }
    #third_second {
        width: 100%;
    }
    #strip {
        width: 23px;
        height: 6px;
        background: white;
        border-radius: 2px;
        margin: 0% 25%;
    }
    #circle {
        width: 20px;
        height: 20px;
        background: #7fee1d;
        border-radius: 60px;
        margin: 0% 25%;
    }
    #real_temperature_1,
    #real_temperature_2 {
        width: 100%;
        height: 100%;
    }
    #electric_img {
        width: 40%;
        background: url('/assets/eimdoard/equipment/images/electric.png');
        background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
        background-position: center center;
        text-align: center;
    }
    #electric_real {
        width: 60%;
    }
    #electric_chart_5,
    #electric_chart_4,
    #electric_chart_3,
    #electric_chart_2,
    #electric_chart_1 {
        width: 100%;
        height: 80%;
    }
    #circular {
        width: 60%;
        height: 60%;
        border-radius: 60px;
        background: rgb(59, 56, 56);
        margin: 15%;
    }
    .dis_f_w {
        display: flex;
        flex-wrap: wrap;
    }
    .h_46_w_70 {
        height: 46%;
        width: 70%;
    }
    .h_46_w_30 {
        height: 46%;
        width: 30%;
        display: flex;
        padding: 2%;
    }
    .font_w_33 {
        font-size: 12px;
        width: 33%;
        div {
            // 超出显示省略号
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
    .width_25 {
        width: 25%;
    }
    .width_30 {
        width: 30%;
    }
    .width_33 {
        width: 33%;
    }
    .width_50 {
        width: 50%;
    }
    .width_70 {
        width: 70%;
    }
    .h_46_w_100 {
        height: 46%;
        width: 100%;
    }
    .overflow_height_77 {
        height: 77%;
        overflow: auto;
    }
    ngx-chart-curve {
        width: 100%;
        height: 30%;
    }
}