<div id="mast-v3">
    <div class="row height_100">
        <!-- 第一列 -->
        <div class="col-md-4 ">
            <div class=" height_23">
                <div class="d_flex height_21">
                    <div *ngFor="let item of runState;let i=index" class="{{ now_timer.status == item.status ?'bo_green  bo_now':''}}" [ngStyle]="{'width':90/runState.length+'%','margin-right':10/runState.length+'%'}">
                        <div class="height_100 undertone" style="width: 100%;" [ngStyle]="{'margin-right': i == runState.length-1?'0%':'10%','border-radius':now_timer.status == item.status?'0':''}">
                            <div class="height_20" class="{{now_timer.status == item.status?'bright':'dark'}}" [ngStyle]="{'background': colors[i+1]}"></div>
                            <div class=" height_80" style="font-size:24px;padding-top: 4px;" [ngStyle]="{'color':now_timer.status == item.status?'yellow':''}">{{item.title}}</div>
                        </div>
                    </div>
                </div>
                <div class="undertone height_80 bo_green">
                    <div class="d_flex height_30">
                        <nb-icon icon="arrow-ios-forward-outline"></nb-icon>
                        <nb-icon icon="arrow-ios-forward-outline"></nb-icon>
                        <span style="padding-top: 10px;width: 40%;text-align: left;">本次运行时长:</span>
                        <span style="padding-top: 10px;">当前状态累计时长:</span>
                    </div>
                    <div class="d_flex height_60">
                        <div id="your-clock-2" style="margin-right: 0px;"></div>
                        <div id='your-clock' style="margin-right: 0px;"></div>
                    </div>
                </div>
            </div>
            <div class="height_23 undertone" style="margin-top: 20px;">
                <div class="d_flex height_30">
                    <nb-icon icon="arrow-ios-forward-outline"></nb-icon>
                    <nb-icon icon="arrow-ios-forward-outline"></nb-icon>
                    <span class="title blue">压力状态:</span>
                </div>
                <div class="d_flex height_70">
                    <div *ngFor="let item of pressureState;let i =index" class="width_33" style="margin: 2%;">
                        <div class="back_g_1 height_70">
                            <div *ngFor="let g of [0,1,2,3,4];" class="{{getColor(i,g,item)}} height_20"></div>
                        </div>
                        <div class="back_g_1 height_30" style="margin-top: 10px;">{{item.title}}</div>
                    </div>
                </div>
            </div>
            <div class="height_50 undertone" style="margin-top: 20px;">
                <div class="d_flex height_10">
                    <nb-icon icon="arrow-ios-forward-outline"></nb-icon>
                    <nb-icon icon="arrow-ios-forward-outline"></nb-icon>
                    <span class="title blue">压力状态:</span>
                </div>
                <div class="height_90">
                    <div id="chart_1"></div>
                    <div id="chart_2"></div>
                </div>
            </div>
        </div>
        <!-- 第二列 -->
        <div class="col-md-5">
            <div class=" height_25 undertone">
                <div class="d_flex height_20">
                    <nb-icon icon="arrow-ios-forward-outline"></nb-icon>
                    <nb-icon icon="arrow-ios-forward-outline"></nb-icon>
                    <span class="title blue">压力状态:</span>
                </div>
                <div class="height_80 article" [innerHTML]="str"></div>
            </div>
            <div class="height_50">
                <img [src]="img.centerSrc" />
            </div>
            <div class="height_25 undertone">
                <div class="d_flex height_17">
                    <nb-icon icon="arrow-ios-forward-outline"></nb-icon>
                    <nb-icon icon="arrow-ios-forward-outline"></nb-icon>
                    <span class="title blue">AS34-EP2 计划&进度</span>
                </div>
                <div id="chart_3"></div>
            </div>

        </div>
        <!-- 第三列 -->
        <div class="col-md-3">
            <div class="height_49 undertone">
                <div class="d_flex height_10">
                    <nb-icon icon="arrow-ios-forward-outline"></nb-icon>
                    <nb-icon icon="arrow-ios-forward-outline"></nb-icon>
                    <span class="title blue">动力监控</span>
                </div>
                <div class="height_90">
                    <div id="chart_5"></div>
                    <div id="chart_4"></div>
                </div>
            </div>
            <div class="height_49 undertone" style="margin-top: 20px;">
                <div class="d_flex height_10">
                    <nb-icon icon="arrow-ios-forward-outline"></nb-icon>
                    <nb-icon icon="arrow-ios-forward-outline"></nb-icon>
                    <span class="title blue">信号监控</span>
                </div>
                <div id="jk" class="height_90">
                    <img [src]="img.jkSrc">
                    <div [ngStyle]="{'top':item.top,'left':item.left,background:item.value == 1?'green':'yellow'}" *ngFor="let item of signalMonitoring">
                        <b>正常</b>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>