// 报警
.alert{
    width: 139px;
    height: 46px;
    padding: 12px 20px;
    background: rgb(255, 145, 0);
    margin-bottom: 0px;
}

// 普通的
.common{
    width: 139px;
    height: 46px;
    padding: 12px 20px;
    margin-bottom: 0px;
}

// 严重报警
.severityAlert{
    width: 139px;
    height: 46px;
    padding: 12px 20px;
    background: rgb(255, 0, 0);
    margin-bottom: 0px;
}


