#equipment {
    background: url('/assets/eimdoard/equipment/images/beijing.png');
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-position: center center;
    text-align: center;
    font-family: "Microsoft YaHei", 微软雅黑, "MicrosoftJhengHei", 华文细黑, STHeiti, MingLiu;
    // height: 864px;
    // width: 1920px;
    #title_img {
        background: url('/assets/eimdoard/equipment/images/title.png');
        background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
        background-position: center center;
        text-align: center;
        margin-left: 0px;
        margin-right: 0px;
        min-height: 54px;
    }
    .head {
        display: inline-flex;
        padding: 10px;
        color: white;
        // width: 82px;
        // height: 40px;
        cursor: pointer;
        background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
    }
    .return_button_1 {
        background: url('/assets/eimdoard/equipment/images/home.png') no-repeat;
    }
    .return_button_2 {
        background: url('/assets/eimdoard/equipment/images/ret.png') no-repeat;
    }
    .title {
        font-size: xx-large;
        color: white;
        margin-top: 1%;
    }
    nb-icon {
        position: absolute;
        background: rgba(22, 67, 127, 1);
        cursor: pointer;
        width: 53px;
        height: 53px;
    }
    .body {
        height: 100%;
        width: 100%;
        margin-top: 14px;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        // #left_img {
        #center {
            width: 100%;
            height: 96%;
            margin: 2% 1% 0% 1%;
            display: flex;
        }
    }
}