#equipment {
    background: url('/assets/eimdoard/equipment/images/beijing.png');
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-position: center center;
    text-align: center;
    font-family: "Microsoft YaHei", 微软雅黑, "MicrosoftJhengHei", 华文细黑, STHeiti, MingLiu;
    // height: 864px;
    // width: 1920px;
    #title_img {
        background: url('/assets/eimdoard/equipment/images/title.png');
        background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
        background-position: center center;
        text-align: center;
        margin-left: 0px;
        margin-right: 0px;
    }
    .head {
        display: inline-block;
        margin-top: 5%;
        padding: 10px;
        color: white;
    }
    .return_button {
        border: 2px white solid;
        cursor: pointer;
        height: 44px;
        width: 47%;
    }
    .title {
        font-size: xx-large;
        color: white;
        margin-top: 1%;
    }
    nb-icon {
        position: absolute;
        background: rgba(22, 67, 127, 1);
        cursor: pointer;
        width: 53px;
        height: 53px;
    }
    .body {
        height: 100%;
        width: 100%;
        margin-top: 14px;
        position: relative;
        display: flex;
        // #left_img {
        // position: absolute;
        // height: 100%;
        // width: 200px;
        // background-image: url(../../../assets/eimdoard/equipment/images/left.png);
        // background-size: cover;
        // -webkit-background-size: cover;
        // -o-background-size: cover;
        // background-position: center center;
        // }
        // #right_img {
        // position: absolute;
        // right: 0px;
        // height: 100%;
        // width: 200px;
        // background-image: url(../../../assets/eimdoard/equipment/images/right.png);
        // background-size: cover;
        // -webkit-background-size: cover;
        // -o-background-size: cover;
        // background-position: center center;
        // }
        #center {
            width: 94%;
            height: 96%;
            margin: 2% 3% 0% 3%;
            display: flex;
        }
    }
}