<div id="equipment">
    <div class="row" id="title_img">
        <div class="col-md-3" style="position: relative;">
            <div class="return_button_1 head" style="width: 82px;height: 40px;float: left;" (click)="menu_btn_click()">
                <!-- <nb-icon icon='home-outline'></nb-icon> -->
            </div>
            <div class="return_button_2 head" style="width: 82px;height: 40px;float: left;" (click)="return_btn_click()">
                <!-- <nb-icon icon='skip-back-outline' style="left: 30%;"></nb-icon> -->
            </div>
        </div>
        <div class="col-md-6">
            <div class="title">
                <span id="head_title">{{ title }}</span>
            </div>
        </div>
        <div class="col-md-3" style="position: relative;">
            <!-- <img src="../../../assets/eimdoard/equipment/images/itestlogo.png"> -->
            <div class="head">
                <span>{{date.year}}-{{date.month+1}}-{{date.day}}  {{date.hours}}:{{date.minute}}:{{date.second}}</span>
            </div>
            <nb-icon [icon]="is_not_fullscreen ? 'expand-outline' : 'collapse-outline'" [status]="is_not_fullscreen ? 'warning' : 'info'" (click)="showAllTemplate()"></nb-icon>
        </div>
    </div>
    <div class="body">
        <div id="left_img">
            <!-- <img style="height: 100%;" src="../../../assets/eimdoard/equipment/images/left.png"> -->
        </div>
        <div id="center">
            <router-outlet></router-outlet>
        </div>
        <div id="right_img">
            <!-- <img style="height: 100%;" src="../../../assets/eimdoard/equipment/images/right.png"> -->
        </div>
    </div>
</div>