<nb-card>
  <nb-card-header>
    任务节点管理
    <span style="float: right;">
      <button nz-button nzType="primary" (click)="back()" >返回</button>
    </span>
  </nb-card-header>
  <nb-card-body>
    <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="alias" nzRequired>节点名称</nz-form-label>
        <nz-form-control [nzSm]="15" [nzXs]="24" nzErrorTip="请输入节点名称">
          <input nz-input id="alias" formControlName="alias" placeholder="节点名称" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="name" nzRequired>主机名</nz-form-label>
        <nz-form-control [nzSm]="15" [nzXs]="24" nzErrorTip="请输入主机名">
          <input nz-input id="name" formControlName="name" placeholder="主机名" />
        </nz-form-control>
      </nz-form-item>

       <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="port" nzRequired>端口</nz-form-label>
        <nz-form-control [nzSm]="15" [nzXs]="24" nzErrorTip="请输入端口">
          <input nz-input id="port" formControlName="port" placeholder="端口" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzRequired>备注</nz-form-label>
        <nz-form-control [nzSm]="15" [nzXs]="24" >
          <textarea formControlName="remark" nz-input rows="3" placeholder="请输入备注"></textarea>
        </nz-form-control>

      </nz-form-item>

      <nz-form-item nz-row class="register-area">
        <nz-form-control [nzSpan]="14" [nzOffset]="8">
          <button nz-button nzType="primary">提交</button>
          <button nz-button (click)="resetForm($event)">重置</button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </nb-card-body>
</nb-card>
