
@import '../../../../assets/pages/device-inline/css/eim-device-inline-iconfont.css';

#rtmv2{
    // background: url('/assets/pages/device-inline/images/bg.png');
    background: url('/assets/pages/device-inline/images/one/one_bj.jpg');
    // 头部
    .head{
        position: relative;
        height: 50px;
        margin-bottom: 15px;
        img{
            width: 100%;
            height: 100%;
        }
        h4{
            position: absolute;
            top: 9px;
            left: 42%;
            color: #656ca5;
        }
        // 首页==时间
        .home-time{
            height: 10px;
            line-height: 10px;
            color: rgb(238, 227, 227);
        }
    }
    .home{
        cursor: pointer;
    }
    .home:hover{
        background: #6ac544;
    }

    // .currenttime{
        
    // }
    
    
}
// 返回首页、时间日期
.device_inline_title{
    font-family: cursive;
    color: #08CBFA;
    font-size: 20px;
}

// 块元素 样式！
.chunk{
    border-width: 1px;
    border-color: rgb(100, 116, 211);
    border-style: solid;
    background-color: rgba(100, 116, 211, 0.102);
    width: 100%;
    text-align: center;
    
    box-shadow: 0 0 3.2vh 1.34vh #365f96b3 inset;
}


// 主体部分
.content{

    // 左侧边框！
    .one_left_border{
        height: 100%;
        width: 100%;
        position: absolute;
        left: -7px;
        top: 0px;
        z-index: 0;
        background: url('/assets/pages/device-inline/images/one/one_left_border.png') no-repeat;
    }
    // 返回首页！
    .gotohome_father{
        margin: 20px 0px 20px 40px;
        z-index: 1;
        position: relative;
        .gotohome{
            line-height: 30px;
            cursor: pointer;
        }
        .gotohome:hover{
            cursor: pointer;
            background-color: rgba(127, 255, 212, 0.599);
        }
    }

    // 日期--时间
    .date_father{
        margin: 20px 40px 20px 0px;
        .date{
            line-height: 30px;
        }
    }


    // 右侧边框！
    .one_right_border{
        height: 100%;
        width: 100%;
        position: absolute;
        right: 0px;
        top: 0px;
        transform: rotateY(180deg);
        background: url('/assets/pages/device-inline/images/one/one_left_border.png') no-repeat;
    }
    // border: lawngreen 1px solid;
    min-height: 995px;
    margin: 0px;

    // 关键指标
    .key-index{
        // border: 1px red solid;
        margin-left: 40px;
        height: 40%;
        width: 91%;
    }
    // 预警信息
    .warning-information{
        margin-left: 40px;
        margin-top: 10px;
        height: 40%;
        width: 91%;
        padding: 5px;
        .warning-title{
            color: #fff;
            font-size: 12px;
            margin: 3px 0px;
        }
    }

    // map地图
    .chian_map{
        min-height: 1000px;
        min-width: 850px;
        border: 1px rgb(250, 246, 34) solid;
    }

    // 设备开动率、设备完好率
    .device-rate{
        margin-left: 0px;
        height: 40%;
        width: 91%;
    }
    .rate-select{
        position: absolute;
        top: 95px;
        width: 100%;
        z-index: 1;
        ul{
            list-style-type: none;
            display: flex;
            li{
                width: 50%;
                text-align: center;
                color: #fff;
                font-family: cursive;
                cursor: pointer;
                
                span:hover{
                    background: #6ac544;
                }

            }
        }
    }

    // 未激活xx率
    .span_noactive{
        border-radius: 5px;
        padding: 5px;
        background: #2eab7d;
    }
    // 激活设备xxlv
    .span_active{
        border-radius: 5px;
        padding: 5px;
        background: #6ac544;
    }

    // geely介绍信息
    .geely-info{
        margin-left: 0px;
        margin-top: 10px;
        height: 40%;
        width: 91%;
    }
}


// 
// table
.table_div{
    // box-shadow: 0 0 1.2vh 0.34vh rgba(50,84,129,0.7) inset;
    padding: 0;
    ul{
        // display: flex;
        display: inherit;
        list-style-type: none;
    }
    li{
        list-style-type:none;
        overflow: hidden;
        text-align: left;
    }
    .warning_info{
        width: 100%;
        background: #406286;
    }
    .warning_info2{
        width: 100%;
    }
    
}