<div id="four_road">
    <div class="row" style="height: 100%;">
        <div class="col-md-4">
            <div class="first_first" style="height: 35%;">
                <div class="andon_status">
                    <div class="part_title">{{'equipment.equipmentStatus' | translate}}</div>
                    <div class="andon_status_font">
                        {{'equipment.SafetyLampStatus' | translate}}
                    </div>
                    <div class="andon_color">
                        <div *ngFor="let item of andon;let i = index;" style="height: 25%;">
                            <div class="bo_black {{ item.color}} {{item.status == 1?'bright':'dark'}}" [ngStyle]="{'border-top': i != 0 ? '3px solid black':''}" [ngClass]="{'first':i==0,'last':i == andon.length-1}">
                                <Span>{{item.name}}</Span>
                            </div>
                        </div>
                    </div>
                    <div class="andon_img"></div>
                </div>
                <div class="andon_status_chart">
                    <div class="row chart">
                        <div class="col-md-6" id="device_circular_1"></div>
                        <div class="col-md-6" id="device_circular_2"></div>
                    </div>
                    <div id="device_status"></div>
                    <div id="operatingRate"></div>
                </div>
            </div>
            <div class="first_second lattice_layout" style="height: 24%;">
                <div class="part_title" style="top: -8px;left: 2px;">{{'equipment.expInfor'|translate}}</div>
                <div class="first_second_font">
                    <div class="width_30">{{'equipment.BenchPIC'|translate }}</div>
                    <div style="width: 70%;">{{ experiment.user }} {{ 'equipment.contact'|translate }}:{{ experiment.phone }}</div>
                </div>
                <div class="first_second_font" *ngIf="experiment.data.length <= 2">
                    <div class="width_30">{{ 'equipment.NextExperiment'|translate }}</div>
                    <div style="width: 70%;">{{ experiment.nexttest }}</div>
                </div>
                <div class="first_second_font" *ngIf="experiment.data.length <= 2">
                    <div class="width_30">{{ 'equipment.PLanDuration'|translate }}</div>
                    <div class="wigth_70">{{ experiment.nextdate }}</div>
                </div>
                <div class="table">
                    <div class="table_bo">
                        <table>
                            <tr class="header">
                                <td *ngFor="let title of experiment.title">
                                    {{'equipment.'+title | translate }}
                                </td>
                            </tr>

                        </table>
                    </div>
                    <div class="table_bo" style="overflow: auto;" [ngStyle]="{'height':get_height()}">
                        <table>
                            <tr class="body" *ngFor="let items of experiment.data">
                                <td *ngFor="let item of items;let i = index">
                                    <div *ngIf="i == 2;else fontTemp" class="progres_1">
                                        <nz-progress [nzPercent]="item" nzSize="small" [nzShowInfo]="false" nzStatus="{{item<70?'active':'exception'}}"></nz-progress>
                                        <div class="progres_2" [ngStyle]="{'left':getleft(item)}">
                                            {{item}}%
                                        </div>
                                    </div>
                                    <ng-template #fontTemp>
                                        <div class="font_tolong">{{item}}</div>
                                    </ng-template>

                                </td>
                            </tr>
                        </table>
                    </div>

                </div>
            </div>
            <div class="dis_f_w first_third lattice_layout height_33">
                <div class="part_title" style="top: -8px;left: 2px;">{{'equipment.LogWarm' | translate}}</div>
                <div class="h_46_w_30">
                    <div style="width: 10%;">{{'equipment.LV1Warm'|translate}}</div>
                    <div id="circular"></div>
                </div>
                <div class="h_46_w_70" id="warning"></div>
                <div class="table height_50">
                    <div class="table_bo height_30">
                        <table>
                            <tr class="header">
                                <td *ngFor="let title of log_warm.title">
                                    {{"equipment."+title | translate}}
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="table_bo overflow_height_85">
                        <table>
                            <tr class="body" *ngFor="let items of log_warm.data" [ngStyle]="{'color':items[1] == 'error'?'red':items[1]=='warning'?'':'yellow'}">
                                <td *ngFor="let item of items;let i = index">
                                    <div>{{item}}</div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="sceond_fisrt height_24">
                <div class="part_title" style="top: -8px;left: 18px;">{{ 'equipment.equipIntroduce'|translate}}</div>
                <div style="padding: 20px;">
                    设备分三部分：AVL 转股、排放分析仪、环境舱；
                </div>
            </div>
            <div class="center_img">
                <div class="part_title" style="top: -8px;left: 12px;">{{'equipment.OnlineVideo'|translate}}</div>
                <img id="img" [src]="img.url" [alt]="img.name">
            </div>
            <div class="sceond_third height_36" style="position: relative;flex-wrap: wrap;">
                <div class="part_title" style="top: -8px;left: 18px;">{{ 'equipment.EmissionAnalyzer'|translate }}</div>
                <div class="display_wrap height_40" style="width: 100%;">
                    <ng-container *ngFor="let item of discharge">
                        <div class="width_33 discharge">
                            {{language?item.nameEn:item.name}}
                            <div class="width_70 div_blue">
                                {{item.value}}
                            </div>
                        </div>
                    </ng-container>
                </div>
                <div class="height_60" style="width: 100%;">
                    <div id="discharge_chart"></div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="part_title" style="top: -8px;left: 18px;">{{'equipment.EnvironBinParam'|translate}}</div>
            <div class="thrid">
                <div class="height_25" style="display: flex;">
                    <div id="real_temperature_1" style="height: 100%;"></div>
                    <div id="real_temperature_2" style="height: 100%;"></div>
                    <div id="real_temperature_3" style="height: 100%;"></div>
                    <div class="width_25">
                        <p class="white_font">{{'equipment.temperature'|translate}}{{'equipment.setup'|translate}}:<span style="color: green;">22℃</span></p>
                        <p class="white_font">{{'equipment.humidity'|translate}}{{'equipment.setup'|translate}}:<span>22℃</span></p>
                        <p class="white_font">{{'equipment.pressDiff'|translate}}{{'equipment.setup'|translate}}:<span>22℃</span></p>
                    </div>
                </div>
                <div class="height_25">
                    <div id="discharge_chart_1" style="height: 100%;"></div>
                </div>
                <div class="height_20 display_wrap" style="padding-top: 4%;">
                    <ng-container *ngFor="let item of real_data.arr;let i = index">
                        <div class="width_33 " style="display: flex;">
                            <div class="width_70 font_w_too_long" title="{{ language?item.nameEn:item.name }}">
                                {{ language?item.nameEn:item.name }}:
                            </div>
                            <div id="circle" [ngStyle]="{'backgroud':item.value == 1 ?'green':'black'}"></div>
                        </div>
                        <br>
                    </ng-container>
                </div>
                <div class="height_30 display_wrap">
                    <div class="font_w_20" title="{{ (language?item.titleEn:item.title)+'  '+ item.text}}" *ngFor="let item of outRenturnWind;let i = index">
                        <div style="height: 70%;" id="electric_chart_{{i}}"></div>
                        <div>{{language?item.titleEn:item.title}}</div>
                    </div>
                    <div class="font_w_20">
                        {{'equipment.loopFanRate' |translate}}:<br> 12
                        <br> {{'equipment.NewTrendFanRate' |translate}}:<br> 12
                    </div>
                </div>
            </div>
            <div style="height: 33%;">
                <ngx-chart-curve-v3 #chart_1 [chartName]="'chart_1'" title="{{ 'equipment.AVLSpeed'|translate}}" (clicEvent)="clicEvent($event,1)" dashboardName='dashboard_1' [list]="[]"></ngx-chart-curve-v3>
            </div>
        </div>
    </div>
</div>