<div id="four_road">
    <div class="row" style="height: 100%;">
        <div class="col-md-4">
            <div class="first_first" style="height: 35%;">
                <ngx-equipment-status device='device_mts_01' style="display: flex;width: 100%;"></ngx-equipment-status>
            </div>
            <div class="first_second lattice_layout" style="height: 24%;">
                <div class="part_title">{{'equipment.expInfor'|translate}}</div>
                <ngx-test-information device='device_mts_01' style="width: 100%;"></ngx-test-information>

            </div>
            <div class="dis_f_w first_third lattice_layout height_33">
                <ngx-log-warm device='device_mts_01' style="display: flex;width: 100%;flex-wrap: wrap;"></ngx-log-warm>
            </div>
        </div>
        <div class="col-md-4">
            <div class="sceond_fisrt height_24">
                <div class="part_title">{{ 'equipment.equipIntroduce'|translate}}</div>
                <div style="padding: 20px;overflow: auto;">
                    设备分三部分：AVL 转股、排放分析仪、环境舱；
                </div>
            </div>
            <div class="center_img">
                <div class="part_title">{{'equipment.OnlineVideo'|translate}}</div>
                <img id="img" [src]="img.url" [alt]="img.name">
            </div>
            <div class="sceond_third height_35" style="position: relative;flex-wrap: wrap;padding-top: 0%; margin-top: 2%;">
                <div class="part_title">{{ 'equipment.EmissionAnalyzer'|translate }}</div>
                <div class="display_wrap height_29" style="width: 100%;margin-top: 17px;">
                    <ng-container *ngFor="let item of discharge">
                        <div class="width_33 discharge">
                            {{language?item.nameEn:item.name}}
                            <div class="width_70 div_blue">
                                {{item.value}}
                            </div>
                        </div>
                    </ng-container>
                </div>
                <div class="height_60" style="width: 100%;">
                    <div id="discharge_chart"></div>
                </div>
            </div>
        </div>
        <div class="col-md-4">

            <div class="thrid">
                <div class="part_title">{{'equipment.EnvironBinParam'|translate}}</div>
                <div class="height_25" style="display: flex;">
                    <div id="real_temperature_4" style="height: 100%;"></div>
                    <div id="real_temperature_5" style="height: 100%;"></div>
                    <div id="real_temperature_6" style="height: 100%;"></div>
                    <div class="width_25">
                        <p class="white_font">{{'equipment.temperature'|translate}}{{'equipment.setup'|translate}}:<span style="color: green;">22℃</span></p>
                        <p class="white_font">{{'equipment.humidity'|translate}}{{'equipment.setup'|translate}}:<span>22℃</span></p>
                        <p class="white_font">{{'equipment.pressDiff'|translate}}{{'equipment.setup'|translate}}:<span>22℃</span></p>
                    </div>
                </div>
                <div class="height_25">
                    <div id="discharge_chart_1" style="height: 100%;"></div>
                </div>
                <div class="height_20 display_wrap" style="padding-top: 4%;">
                    <ng-container *ngFor="let item of real_data.arr;let i = index">
                        <div class="width_33 " style="display: flex;">
                            <div class="width_70 font_w_too_long" title="{{ language?item.nameEn:item.name }}">
                                {{ language?item.nameEn:item.name }}:
                            </div>
                            <div id="circle" [ngStyle]="{'backgroud':item.value == 1 ?'green':'black'}"></div>
                        </div>
                        <br>
                    </ng-container>
                </div>
                <div class="height_30 display_wrap">
                    <div class="font_w_20" title="{{ (language?item.titleEn:item.title)+'  '+ item.text}}" *ngFor="let item of outRenturnWind;let i = index">
                        <div style="height: 70%;" id="electric_chart_{{i}}"></div>
                        <div>{{language?item.titleEn:item.title}}</div>
                    </div>
                    <div class="font_w_20">
                        {{'equipment.loopFanRate' |translate}}:<br> 12
                        <br> {{'equipment.NewTrendFanRate' |translate}}:<br> 12
                    </div>
                </div>
            </div>
            <div class="height_33 bo" style="margin-top: 14px;">
                <ngx-chart-curve-v3 #chart_1 [chartName]="'chart_1'" title="{{ 'equipment.AVLSpeed'|translate}}" (clicEvent)="clicEvent($event,1)" dashboardName='dashboard_1' [list]="[]"></ngx-chart-curve-v3>
            </div>
        </div>
    </div>
</div>