
<nb-accordion>
    <nb-accordion-item *ngFor="let a of datas">
      <nb-accordion-item-header>
        {{a.name}}
      </nb-accordion-item-header>
      <nb-accordion-item-body>
        <!-- {{a.children}} -->
        <nb-list>
            <nb-list-item *ngFor="let child of a.children">
              <button nbButton status="info" fullWidth
              nbPopoverTrigger="click" 
              nbPopoverPlacement="bottom"
              [nbPopover]="component"
              (click)="changeComponent(child, a)"
              >
              <nb-icon icon="person-outline"></nb-icon>
              {{ child }}
            </button>
            </nb-list-item>
          </nb-list>
      </nb-accordion-item-body>
    </nb-accordion-item>
  
    
  </nb-accordion>



  <!-- 弹出的模板 -->
<ng-template #tabs>
  <nb-card class="margin-bottom-0">
      <nb-card-header>{{user_deviceInfo.it}}</nb-card-header>
      <nb-card-body>
          <div class="row">
              <div class="col-md-3">
                  <div class="row map-info-icon"><nb-icon icon="edit-2-outline"></nb-icon></div>
                  <div class="row"><button nbButton size="tiny" fullWidth status="control" (click)="edit(user_deviceInfo)">{{'POSITIONMONITORING.TABS.EDIT' | translate }}</button></div>
              </div>
              <div class="col-md-3">
                  <div class="row map-info-icon"><nb-icon icon="map-outline"></nb-icon></div>
                  <div class="row"><button nbButton size="tiny" fullWidth status="control" (click)="path(user_deviceInfo)">{{'POSITIONMONITORING.TABS.PATH' | translate }}</button></div>
              </div>
              <div class="col-md-3">
                  <div class="row map-info-icon"><nb-icon icon="pin-outline"></nb-icon></div>
                  <div class="row"><button nbButton size="tiny" fullWidth status="control" (click)="trace(user_deviceInfo)">{{'POSITIONMONITORING.TABS.TRACE' | translate }}</button></div>
              </div>
              <div class="col-md-3">
                  <div class="row map-info-icon"><nb-icon icon="more-horizontal-outline"></nb-icon></div>
                  <div class="row">
                      <button nbButton size="tiny" fullWidth status="control" 
                      nbContextMenuPlacement="right" [nbContextMenu]="moreitems" nbContextMenuTrigger="hover" 
                      nbContextMenuTag="more-menu"

                      >{{'POSITIONMONITORING.TABS.MORE' | translate }}</button>
                  </div>

              </div>
          </div>
      </nb-card-body>

  </nb-card>
</ng-template>