<nb-card style="background-color: #222b45;color:#656ca5;" id="dialog-body">
    <nb-card-header>
        <div class="row">
            <div class="col-md-10" style="text-align: left;color: #656ca5;"> {{_dialogData.title}}预设</div>
            <div class="col-md-2" style="text-align: right;">
                <nb-icon icon="close-outline" style="cursor: pointer;background: #656ca5;" (click)="closedialog()"></nb-icon>
            </div>
        </div>
    </nb-card-header>

    <nb-card-body>

        <form class="layui-form" action="" lay-filter="preinstall">

            <div class="layui-form-item" *ngFor="let item of _dialogData.preinstall;let i=index">

                <div class="layui-inline">
                    <label class="layui-form-label mylabel">预设值</label>
                    <div class="layui-input-block">
                        <input type="number" name="value_{{i}}" id="value_{{i}}" [min]="i == 0?0:_dialogData.preinstall[i-1].value" autocomplete="off" class="layui-input">
                    </div>
                </div>

                <div class="layui-inline">
                    <label class="layui-form-label mylabel">颜色</label>
                    <div class="layui-input-block">
                        <div class="layui-input-inline" style="width: 120px;">
                            <input id="color_{{i}}" name="color_{{i}}" lay-verify="color" type="text" value="" (input)="input_change_color($event,i)" (change)="input_change_color($event,i)" placeholder="请选择颜色" class="layui-input" id="test-form-input">
                        </div>
                        <div class="layui-inline" style="left: -11px;">
                            <div id="select_{{i}}"></div>
                        </div>
                    </div>

                </div>
                <div id="div_color_{{i}}" class="layui-inline"></div>
            </div>


            <div class="layui-form-item" style="display: flex;text-align: center;">
                <div class="layui-inline" style="width: 50%;">
                    <div class="layui-input-inline" style="margin-left: 25%;">
                        <button type="button" class="layui-btn layui-btn-primary" (click)="closedialog()">取消</button>
                    </div>
                </div>

                <div class="layui-inline" style="width: 50%;">
                    <div class="layui-input-inline">
                        <button type="submit" class="layui-btn" lay-submit="" lay-filter="preinstall_submit">确定</button>
                    </div>
                </div>
            </div>
        </form>
    </nb-card-body>
</nb-card>

<dialog id="showDialog">
    <div id="dialog_message"></div>
    <!--      <button (click)="close()">123</button>-->
    <!--  颜色格式为#后跟三位或六位0-9a-f组成-->
</dialog>