<nb-card>
    <nb-card-header style="height: 20px; line-height: 5px;">
        快捷方式
    </nb-card-header>
    <nb-card-body>
        <div class="row" style="margin-bottom: 5px;" *ngFor="let item of data">
            <div class="col-md-4" *ngFor="let d of item">
                <div class="tupian">
                    <svg class="icon svg-icon" aria-hidden="true">
                        <use [attr.xlink:href]="d.svg"></use>
                    </svg>
                </div>
                <div class="tupian_title">
                    {{d.title}}
                </div>
            </div>
        </div>
    </nb-card-body>
</nb-card>