<nb-card class="system_role">
    <nb-card-header>
        <div class="row">
            <div class="col-md-10" style="text-align: left;"> {{title}}</div>
            <div class="col-md-2" style="text-align: right;">
                <nb-icon icon="close-outline" style="cursor: pointer;" (click)="closedialog()"></nb-icon>
            </div>
        </div>
      </nb-card-header>

    <nb-card-body>
        
        <form class="layui-form" action="" lay-filter="role">
          
            <div class="layui-form-item">
              <div class="layui-row">
                <div class="layui-col-md6">
                  <label class="layui-form-label mylabel mulu_title">角色名称</label>
                  <div class="layui-input-block">
                    <input type="text" name="role_name" required  lay-verify="required|role_name" placeholder="角色名称" autocomplete="off" class="layui-input">
                  </div>
                </div>

                <div class="layui-col-md6">
                  <label class="layui-form-label mylabel mulu_title">角色翻译</label>
                  <div class="layui-input-block">
                    <input type="text" name="role" required  lay-verify="required|role" placeholder="角色英文名称" autocomplete="off" class="layui-input">
                  </div>
                </div>
              </div>

              
            </div>
            
            <div class="layui-form-item">

              <div class="layui-inline">
                <label class="layui-form-label mylabel">是否启用</label>
                <div class="layui-input-block">
                  <input type="checkbox" name="visible" lay-skin="switch" lay-filter="filter" lay-text="是|否" checked>
                </div>
                
              </div>
            </div>

            <div class="layui-form-item">
              <label class="layui-form-label mylabel">描述信息</label>
              <div class="layui-input-block">
                <textarea name="remark"  placeholder="描述信息..." class="layui-textarea"></textarea>
              </div>
            </div>

            
            <div class="layui-form-item" style="text-align: end;">
                <div class="layui-inline">
                  <div class="layui-input-inline">
                  </div>
                </div>
                <div class="layui-inline" style="text-align: end;">
                  <div class="layui-input-inline">
                      <button class="layui-btn layui-btn-primary" (click)="cancel()">取消</button>
                      <button type="submit" class="layui-btn" lay-submit="" lay-filter="role" >确定</button>
                  </div>
                </div>
                
            </div>
            
            
        </form>

    </nb-card-body>
</nb-card>