<!-- 
<div id="rtmv2"  style="padding-bottom: 5px;">
    <div class="row">
        <div class="col-md-11"></div>
        <div class="col-md-1" style="text-align: right; padding-left: 0px;">
            <nb-icon [icon]="is_not_fullscreen ? 'expand-outline' : 'collapse-outline'" [status]="is_not_fullscreen ? 'warning' : 'info'" (click)="showAllTemplate()"></nb-icon>
        </div>
    </div>


    <div class="row ">
        <div class="col-md-12 head">
            <h4>吉利智慧试验室项目看板</h4>
            <img src="assets/pages/device-inline/images/header2.png" alt="header">

            <div class="home-time">
                <div class="row">
                    <div class="col-md-2" style="padding-left: 30px;">
                        <span class="home" (click)="gohome()">
                            <svg class="icon svg-icon" aria-hidden="true">
                                <use xlink:href="#iconshouye"></use>
                            </svg>
                            首页
                        </span>
                    </div>
                    <div class="col-md-8"></div>
                    <div class="col-md-2 "><span class="currenttime"></span></div>
                </div>
            </div>
        </div>
    </div>

    <router-outlet></router-outlet>
    
    
</div>
 -->
<router-outlet></router-outlet>