.icon {
    width: 2em;
    height: 2em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
  }
.range-date{
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 29px;
    input{
        height: 40px;
        font-size: 0.1rem;
        font-style: oblique;
        width: 40%;
        padding-right: 0px;
    }
}