

@import '../../../../../assets/pages/device-inline/css/eim-real-time-iconfont.css';


.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
  }

.myicon{
    text-align: center;
    padding: 0px;
}