<div class="row">
    <div class="col-md-6">
        <ngx-shortcut></ngx-shortcut>
    </div>
    <div class="col-md-6">
        <ngx-my-message></ngx-my-message>
    </div>
</div>

<div class="row" style="margin-bottom: 10px;">
    <div class="col-md-3" *ngFor="let item of number_data">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-8">
                <div class="number {{item.class}}">
                    <div class="title">{{item.title}}</div>
                    <div class="value">{{item.value}}</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" *ngFor="let item of car_data; let i=index">
    <!-- <div class="col-md-4">
        <ngx-device-card [cardData]="data"></ngx-device-card>
    </div> -->
    <div class="col-md-4" *ngFor="let d of item;">
        <ngx-device-card [cardData]="d.data"></ngx-device-card>
    </div>
    
</div>
