h5,h6,span{
    color: #493dfe;
}

.login{
    // background-image: url("assets/images/lee.png");
    background: url("assets/pages/login/images/interior.jpg") no-repeat;
    /* background-size: 152%; */
    background-position: center;
}
