<nb-card class="setting_employee_group">
    <nb-card-header>
        <div class="row">
            <div class="col-md-10" style="text-align: left;"> 添加用户组</div>
            <div class="col-md-2" style="text-align: right;">
                <nb-icon icon="close-outline" style="cursor: pointer;" (click)="closedialog()"></nb-icon>
            </div>
        </div>
      </nb-card-header>

    <nb-card-body>

        
        <form class="layui-form" action="" lay-filter="employeegroup">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label mylabel mulu_title">组名称</label>
                    <div class="layui-input-block">
                      <input type="text" name="group" required   lay-verify="required|group_"  placeholder="组名称" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label mylabel2 mulu_title">组名称(en)</label>
                    <div class="layui-input-block">
                      <input type="text" name="group_name" required   lay-verify="required|group_name"  placeholder="组名称(英文)" autocomplete="off" class="layui-input">
                    </div>
                </div>

            </div>

                
            <div class="layui-form-item">
                
                <div class="layui-inline">
                    <label class="layui-form-label mylabel">是否启用</label>
                    <div class="layui-input-block"> 
                      <!-- checked -->
                      <input type="checkbox" checked="" name="active" lay-skin="switch"  lay-text="是|否">
                    </div>
                </div>

            </div>
            
            <div class="layui-form-item">
                <div class="layui-row" style="text-align: end;">
                    <div class="layui-inline">
                      <div class="layui-input-inline">
                      </div>
                    </div>
                    <div class="layui-inline">
                      <div class="layui-input-inline">
                          <!-- (click)="confirm()" -->
                          <button class="layui-btn layui-btn-primary" (click)="cancel()">取消</button>
                          <button type="submit" class="layui-btn" lay-submit="" lay-filter="submit" >确定</button>
                      </div>
                    </div>
                    
                </div>
            </div>
            
            
        </form>

    </nb-card-body>
</nb-card>