<nb-card>
    <nb-card-body >
        <!-- <div class="row" style="margin-bottom: 20px;">
            <div class="col-md-10"></div>
            <div class="col-md-1"  style="padding: 0px;">
                <button nbButton size="small" status="basicbasic" (click)="kpireport()"> kpi报表 </button>
            </div>
            <div class="col-md-1"  style="padding: 0px;">
                <button nbButton size="small" status="info" (click)="kpidetail()"> kpi详情 </button>
            </div>
        </div> -->

        <div class="row"  style="margin-bottom: 20px;">
            <div class="col-md-3 my-select" style="padding: 0px;">
                <ngx-my-select-group #departmentselect [selectdatas]="departments"></ngx-my-select-group>
            </div>
            <div class="col-md-3 my-select" style="padding: 0px;">
                <ngx-my-select #device_tpye [selectdatas]="devicetpye"></ngx-my-select>
            </div>
            <div class="col-md-3 my-select" style="padding: 0px;">
                <ngx-my-select #asset_number [selectdatas]="assetsnumber"></ngx-my-select>
            </div>
        
            <div class="col-md-3" style="padding: 0px;">
                <div class="layui-form " >
                    <!-- example-items-rows -->
                    <div class="layui-form-item " >
                        <label class="layui-form-label" style="margin-bottom: 0px; padding-bottom: 0px;">日期范围</label>
                        <div class="layui-input-block" style="margin: 0px;">
                            <input style="height: 37px;" type="text" name='date-range' class="layui-input" id="divice_kpi_report" placeholder=" - ">
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-1 my-button" *ngFor="let button of buttons2"  style="padding: 0px;">
                <button nbButton size="small" [status]="button.class" (click)="action(button.permission)"  [disabled]="button.active == 0? true:false"><nb-icon [icon]="button.icon"></nb-icon>{{button.title}}</button>
            </div>
            
        </div>

        <!-- tree input -->
        
        <router-outlet></router-outlet>

    </nb-card-body>
</nb-card>

