


<div class="row">
    <div class="col-md-6 myechart">
        <nb-card>
            <nb-card-header>设备时间统计(小时)</nb-card-header>
            <nb-card-body>
                <div class="left-one"></div>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-md-6 myechart">
        <nb-card>
            <nb-card-header>运行/停止/故障/非占位(百分比)</nb-card-header>
            <nb-card-body>
                <div class="right-one"></div>
            </nb-card-body>
        </nb-card>
    </div>
</div>

<div class="row" style="margin-top: 20px;">
    <div class="col-md-6 myechart">
        <div class="left-two"></div>
    </div>
    <div class="col-md-6 myechart">
        <div></div>
    </div>
</div>