<div class="row" >
    <div class="col-md-6" style="padding: 0px">
        <button class="buedit edit-edit" (click)="device_info('edit')" type="button">
            <a class="edit action"  ><i class="nb-edit" style="font-size: 35px;"></i></a>
        </button>
    </div>
    <div class="col-md-6" style="padding: 0px">
        <button class="buremove remove-remove" (click)="device_info('del')" type="button">
            <a class="remove action" ><i class="nb-trash" style="font-size: 35px;"></i></a>
        </button>
    </div>
</div>