<div class="row content">
    <div class="col-md-3">
        <div class="key-index"></div>
        <div class="warning-information"></div>
    </div>
    <div class="col-md-6">
        <div class="chian_map">
            
        </div>
    </div>
    <div class="col-md-3">
        <div class="rate-select">
            <ul>
                <li><span id="kaidogn" class="span_active" (click)="kaidong()">设备开动率</span></li>
                <li><span id="wanhao" class="span_noactive" (click)="wanhao()">设备完好率</span></li>
            </ul>
        </div>
        <div class="device-rate">

        </div>
        <div class="geely-info"></div>
    </div>
</div>