<div id="four_road">
    <div class="row" style="height: 100%;">
        <div class="col-md-4">
            <div class="first_first" style="height: 33%;">
                <div class="andon_status">
                    <div class="part_title">{{'equipment.equipmentStatus' | translate}}</div>
                    <div class="andon_status_font">
                        {{'equipment.SafetyLampStatus' | translate}}
                    </div>
                    <div class="andon_color">
                        <div *ngFor="let item of andon;let i = index;" style="height: 25%;">
                            <div class="bo_black {{ item.color}} {{item.status == 1?'bright':'dark'}}" [ngStyle]="{'border-top': i != 0 ? '3px solid black':''}" [ngClass]="{'first':i==0,'last':i == andon.length-1}">
                                <Span>{{item.name}}</Span>
                            </div>
                        </div>
                    </div>
                    <div class="andon_img"></div>
                </div>
                <div class="andon_status_chart">
                    <div class="row chart">
                        <div class="col-md-6" id="device_circular_1"></div>
                        <div class="col-md-6" id="device_circular_2"></div>
                    </div>
                    <div id="device_status"></div>
                    <div id="operatingRate"></div>
                </div>
            </div>
            <div class="first_second lattice_layout" style="height: 24%;">
                <div class="part_title" style="top: -8px;left: 2px;">{{'equipment.expInfor'|translate}}</div>
                <div class="first_second_font">
                    <div class="width_30">{{'equipment.BenchPIC'|translate }}</div>
                    <div style="width: 70%;">{{ experiment.user }} {{ 'equipment.contact'|translate }}:{{ experiment.phone }}</div>
                </div>
                <div class="first_second_font" *ngIf="experiment.data.length <= 2">
                    <div class="width_30">{{ 'equipment.NextExperiment'|translate }}</div>
                    <div style="width: 70%;">{{ experiment.nexttest }}</div>
                </div>
                <div class="first_second_font" *ngIf="experiment.data.length <= 2">
                    <div class="width_30">{{ 'equipment.PLanDuration'|translate }}</div>
                    <div class="wigth_70">{{ experiment.nextdate }}</div>
                </div>
                <div class="table">
                    <div class="table_bo">
                        <table>
                            <tr class="header">
                                <td *ngFor="let title of experiment.title">
                                    {{'equipment.'+title | translate }}
                                </td>
                            </tr>

                        </table>
                    </div>
                    <div class="table_bo" style="overflow: auto;" [ngStyle]="{'height':get_height()}">
                        <table>
                            <tr class="body" *ngFor="let items of experiment.data">
                                <td *ngFor="let item of items;let i = index">
                                    <div *ngIf="i == 2;else fontTemp" class="progres_1">
                                        <nz-progress [nzPercent]="item" nzSize="small" [nzShowInfo]="false" nzStatus="{{item<70?'active':'exception'}}"></nz-progress>
                                        <div class="progres_2" [ngStyle]="{'left':getleft(item)}">
                                            {{item}}%
                                        </div>
                                    </div>
                                    <ng-template #fontTemp>
                                        <div class="font_tolong">{{item}}</div>
                                    </ng-template>

                                </td>
                            </tr>
                        </table>
                    </div>

                </div>
            </div>
            <div class="dis_f_w first_third lattice_layout height_32">
                <div class="part_title" style="top: -8px;left: 2px;">{{'equipment.LogWarm' | translate}}</div>
                <div class="h_46_w_30">
                    <div style="width: 10%;">{{'equipment.LV1Warm'|translate}}</div>
                    <div id="circular"></div>
                </div>
                <div class="h_46_w_70" id="warning"></div>
                <div class="table height_50">
                    <div class="table_bo height_30" style="height: 26%;">
                        <table>
                            <tr class="header">
                                <td *ngFor="let title of log_warm.title;let i =index" [ngStyle]="{'width':i == 0?'20%':i == 1?'20%':'60%'}">
                                    {{"equipment."+title | translate}}
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="table_bo overflow_height_85">
                        <table>
                            <tr class="body" *ngFor="let items of log_warm.data;" style="height: 12px;" [ngStyle]="{'color':items[3] == 1?'red':items[3]==3?'':'yellow'}">
                                <td *ngFor="let item of items;let i = index" style="padding: 0%;height: 20%;" [ngStyle]="{'width':i == 0?'20%':i == 1?'25%':'60%'}">
                                    <div class="font_w_too_long" *ngIf="i == 0;else logTemp">{{item | date:'yyyy-MM-dd'}}</div>
                                    <ng-template #logTemp>
                                        <div class="font_w_too_long" style="width: 100%;" *ngIf="i != 3;else nullTemp">{{item}}</div>
                                        <ng-template #nullTemp></ng-template>
                                    </ng-template>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="sceond_fisrt height_24">
                <div class="part_title" style="top: -8px;left: 18px;overflow: auto;">{{ 'equipment.equipIntroduce'|translate}}</div>
                <div style="padding: 20px;text-align: left;font-size: 12px;" [innerHTML]="str">>

                </div>
            </div>
            <div class="center_img">
                <div class="part_title" style="top: -8px;left: 12px;">{{'equipment.OnlineVideo'|translate}}</div>
                <img id="img" [src]="img.url" [alt]="img.name">
            </div>
            <div class="sceond_third height_32" style="display: inherit;box-shadow:0px 0px">
                <ngx-chart-curve-v3 #chart_3 [chartName]="'chart_3'" (clicEvent)="clicEvent($event,3)" [list]="list_3">
                    <div class="table">
                        <div class="table_bo height_48">
                            <table>
                                <tr class="header">
                                    <td *ngFor="let title of switchStatus.title" [ngStyle]="{'width':get_td_width(switchStatus.title.length)}">
                                        <div style="white-space: normal;
                                        word-wrap: break-word;
                                        width: 100%;
                                        word-break: break-all;">
                                            {{"equipment."+title | translate}}
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="table_bo height_58">
                            <table>
                                <tr class="body" *ngFor="let items of switchStatus.data">
                                    <td *ngFor="let item of items;let i = index" [ngStyle]="{'width':get_td_width(switchStatus.title.length)}">
                                        <div class="font_w_too_long" title="{{item}}" *ngIf="i == 0;else graphical">{{item}}</div>
                                        <ng-template #graphical>
                                            <div id="{{item.id}}" [ngStyle]="{'background': item.color}">
                                            </div>
                                        </ng-template>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </ngx-chart-curve-v3>
            </div>
        </div>
        <div class="col-md-4">
            <div class="part_title" style="top: -8px;left: 18px;">{{'equipment.experimentParams'|translate}}</div>
            <div class="thrid">
                <div style="display: flex;" class="height_50">
                    <div class="width_33 ">
                        <div>
                            {{'equipment.realime' |translate}}{{'equipment.ambient' |translate}}{{'equipment.temperature' |translate}}
                        </div>
                        <div id="real_temperature_1"></div>
                    </div>

                    <div class="width_33 ">
                        <div>
                            {{'equipment.realime' |translate}}{{'equipment.ambient' |translate}}{{'equipment.humidity' |translate}}
                        </div>
                        <div id="real_temperature_2"></div>
                    </div>
                    <div class="width_33" style="margin-top: 3%;">
                        <p class="p_backgroud_blue">
                            {{'equipment.setup' |translate}}{{'equipment.temperature' |translate}}:<span style="color: green;">22℃</span></p>
                        <p class="p_backgroud_blue">
                            {{'equipment.setup' |translate}}{{'equipment.humidity' |translate}}:<span>22℃</span></p>
                    </div>
                </div>
                <div id="third_second">
                </div>

            </div>
            <div class="height_29" style="margin-top: 15px;">
                <ngx-chart-curve-v3 #chart_2 [chartName]="'chart_2'" (clicEvent)="clicEvent($event,2)" dashboardName='dashboard_2' [list]="list_2"></ngx-chart-curve-v3>
            </div>
            <div class="height_29" style="margin-top: 15px;">
                <ngx-chart-curve-v3 #chart_1 [chartName]="'chart_1'" (clicEvent)="clicEvent($event,1)" chartVivid='columnar' dashboardName='dashboard_1' [list]="list_1"></ngx-chart-curve-v3>
            </div>

        </div>
    </div>



</div>