#four_road {
    width: 100%;
    height: 100%;
    // height: 900px;
    .first_first,
    .first_second,
    .first_third,
    .sceond_fisrt,
    .sceond_third {
        // height: 33%;
        width: 100%;
        display: flex;
        // box-shadow: 0 0px 1px 3px rgba(50, 84, 129, 1) inset;
        background: url('/assets/eimdoard/equipment/images/blue_beijing.png') center center;
        background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
        padding: 2%;
        color: white;
        position: relative;
    }
    .font_w_too_long {
        word-break: keep-all;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 86px;
    }
    .thrid {
        height: 30%;
        width: 100%;
        // box-shadow: 0 0px 1px 3px rgba(50, 84, 129, 1) inset;
        background: url('/assets/eimdoard/equipment/images/blue_beijing.png') center center;
        background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
        padding: 2%;
        color: white;
        position: relative;
    }
    .bo {
        // box-shadow: 0 0px 1px 3px rgba(50, 84, 129, 1) inset;
        background: url('/assets/eimdoard/equipment/images/blue_beijing.png') center center;
        background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
        padding: 2%;
    }
    .display_f {
        display: flex;
    }
    .p_backgroud_blue {
        padding-top: 10px;
        padding-bottom: 10px;
        color: white;
        background: #4472c4;
    }
    .part_title {
        position: absolute;
        // width: 100px;
        padding: 0% 2%;
        height: 20px;
        color: wheat;
        background: #4472c4;
        top: 0;
        left: 0;
        min-width: 80px;
    }
    .first_second_font {
        text-align: left;
        padding: 5px 0px 0px 10px;
        display: flex;
    }
    .table {
        // border: 1px solid rgb(68, 114, 196);
        color: white;
        table {
            width: 100%;
            height: 100%;
            .header {
                // height: 10%;
                background: rgb(68, 114, 196);
                td {
                    width: 33%;
                    padding: 5px;
                }
            }
            .body {
                font-size: 12px;
                .progress_o {
                    border-radius: 3px;
                    width: 100%;
                }
                td {
                    padding: 5px;
                    width: 33%;
                }
                .progres_1 {
                    color: white;
                    position: relative;
                }
                .progres_2 {
                    position: absolute;
                    top: 0px;
                    ;
                }
            }
        }
        .font_tolong {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    .lattice_layout {
        margin-top: 10px;
        display: inherit;
        position: relative;
    }
    .table_bo {
        border: 1px solid #4472c4;
    }
    .center_img {
        // height: 100;
        height: 33%;
        position: relative;
        margin-top: 10px;
        #img {
            height: 100%;
            width: 100%;
            // background: url('/assets/eimdoard/equipment/images/car_2.png');
            background-size: cover;
            -webkit-background-size: cover;
            -o-background-size: cover;
            background-position: center center;
        }
    }
    .dark {
        -webkit-filter: brightness(0.7);
        filter: brightness(0.7);
    }
    .bright {
        -webkit-filter: brightness(1.7);
        filter: brightness(1.7);
    }
    #strip {
        width: 23px;
        height: 6px;
        background: white;
        border-radius: 2px;
        margin: 25%;
    }
    #circle {
        width: 20px;
        height: 20px;
        background: #7fee1d;
        border-radius: 60px;
        margin: 25%;
    }
    #real_temperature_1,
    #real_temperature_2 {
        width: 100%;
        height: 100%;
    }
    #third_second {
        height: 50%;
        width: 96%;
    }
    .dis_f_w {
        display: flex;
        flex-wrap: wrap;
    }
    .width_30 {
        width: 30%;
    }
    .width_33 {
        width: 33%;
    }
    .width_70 {
        width: 70%;
    }
    .width_50 {
        width: 50%;
    }
    .h_46_w_100 {
        height: 46%;
        width: 100%;
    }
    .overflow_height_85 {
        height: 85%;
        overflow: auto;
    }
    ngx-chart-curve {
        width: 100%;
        height: 30%;
    }
}