<nb-card>
    <nb-card-body>
        
        
        <router-outlet></router-outlet>
        
    </nb-card-body>
</nb-card>

<!-- <nb-card>
    <nb-card-body>
        <div class="row" style="margin-bottom: 10px;">
            <div class="col-md-2 statusinfo">
                <ngx-my-select-group #departmentselect [selectdatas]="departments"></ngx-my-select-group>
            </div>
        
            <div class="col-md-2 statusinfo">
                <ngx-my-select #device_tpye [selectdatas]="devicetpye"></ngx-my-select>
            </div>
        
            <div class="col-md-2 statusinfo">
                <ngx-my-select #asset_number [selectdatas]="assetnumber"></ngx-my-select>
            </div>
        
            <div class="col-md-2 statusinfo">
                <ngx-date-range #daterange></ngx-date-range>
            </div>
        
            <div class="col-md-2 statusinfo">
                <button nbButton status="info" (click)="query()">筛选</button>
            </div>
            <div class="col-md-2 statusinfo"></div>
        </div>
        <router-outlet></router-outlet>
    </nb-card-body>
</nb-card> -->
