
<nb-card>
    <nb-card-body >
        <div class="row" style="margin-bottom: 20px; padding: 0 15px;">
            
            
            <div class="example-items-rows" style="margin-top: 5px; ">
                <label for=""  style="margin-right: 20px;" >账号</label>
                <input nbInput shape="rectangle" placeholder="Rectangle" status="success" type="text" id="employeenumber">
            </div>
            <div class="example-items-rows" style="text-align: right;margin-left: 27px; margin-top: 5px;margin-left: 15px;" *ngFor="let button of buttons2">
                <button nbButton size="small" [status]="button.class" (click)="action(button.permission)"  [disabled]="button.active == 0? true:false"><nb-icon [icon]="button.icon"></nb-icon>{{button.title}}</button>
            </div>
        </div>

        <div class="row" style="padding: 0 15px;">
            <div class="example-items-rows" style="margin-bottom: 12px;margin-right: 27px;" *ngFor="let button of buttons">
                <button nbButton [status]="button.class" size="small" (click)="action(button.permission)"  [disabled]="button.active == 0? true:false"><nb-icon [icon]="button.icon"></nb-icon>{{button.title}}</button>
            </div>
        </div>
    </nb-card-body>
</nb-card>




<div class="row">
    <div class="col-md-8">
        <nb-card >
            <nb-card-header>
                角色列表
            </nb-card-header>
            <nb-card-body [nbSpinner]="isloding" nbSpinnerStatus="basic">

                <div class="row">
                    <div class="col-md-12">
                        <ngx-ag-table #agGrid  (nzpageindexchange)="nzpageindexchange($event)" (clickrow)="clickrow($event)"></ngx-ag-table>
                    </div>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-md-4">
        <nb-card>
            <nb-card-header>
                <div class="row">
                    <div class="col-md-2" style="text-align: left;  padding-right: 0px;">菜单分配</div>
                    <div class="col-md-6"></div>
                    <div class="col-md-4" style="text-align: right;">
                        <!-- <button id="save" nbButton status='info' size="small" disabled (click)="saveTree()"><nb-icon icon="checkmark-outline"></nb-icon>保存</button> -->
                        <form class="layui-form" action="" lay-filter="tree">
                            <!-- <button type="submit" id="save" lay-submit lay-filter="save" nbButton status='info' size="small" disabled><nb-icon icon="checkmark-outline"></nb-icon>保存</button> -->
                            <button type="submit" id="save" class="layui-btn layui-btn-disabled" lay-submit lay-filter="save"  ><nb-icon icon="checkmark-outline"></nb-icon>保存</button>
                        </form>
                          
                    </div>
                </div>
            </nb-card-header>
            <nb-card-body>
                <div id="menuFengPei" lay-filter="treedata"></div>
            </nb-card-body>
        </nb-card>
    </div>
</div>







