// 表头
:host /deep/ .ng2-smart-th { text-align: center; }

// cell 所有的
:host /deep/ .ng2-smart-row  { text-align: center; }

// 设备状态==运行
// :host /deep/ .ng2-smart-row .run{
//     border: green 1px solid;
//     background: rgb(48, 248, 48);
// }
// // 设备状态==停止
// :host /deep/ .ng2-smart-row .stop{
//     border: rgb(238, 240, 238) 1px solid;
//     background: rgb(199, 199, 199);
// }
// // 设备状态==维护
// :host /deep/ .ng2-smart-row .assert{
//     border: rgb(216, 236, 162) 1px solid;
//     background: rgb(171, 250, 92);
// }
// // 设备状态==故障
// :host /deep/ .ng2-smart-row .fault{
//     border: rgb(228, 144, 129) 1px solid;
//     background: rgb(247, 115, 39);
// }

// // 所有单元格
// :host /deep/ .ng2-smart-row .ng-star-inserted{
//     // color: green;
//     // font-family: cursive;
//     font-size: small;
// }
// :host /deep/ .ng2-smart-row .ng-star-inserted[span='运行'] {
//     color: rgb(172, 230, 39);
// }
@import '../../../../@theme/styles/themes.scss';

@include nb-install-component() {
  nb-card {
    transform: translate3d(0, 0, 0);
  }
  // .nb-theme-default ng2-smart-table .ng2-smart-actions{
  //   height:1px;
  // }
  // ng2-smart-table tbody tr.selected, ng2-smart-table tbody tr:hover {
  //   background: #0660e7 !important;
  // }
  // .ng2-smart-action-multiple-select,.form-control {
  //   background: #000111;
  // }
  // .nb-theme-default, .ng2-smart-table, .ng2-smart-actions{
  //   padding: 1 !important;
  //   height: 1px !important;
  //   width: 1px !important;
  // }
  ::ng-deep {
    ng2-smart-table {
      table {
        thead{
          tr.ng2-smart-titles.ng-star-inserted th{
            padding-right: 1.2rem !important;
          }
        }
        tbody {
          /* Alternating row colour */
          tr:nth-child(2n) {
            background-color: nb-theme(color-primary-100);
          }
          tr:hover {
            background: #62a0fca3 !important;
            // background-color: nb-theme(color-primary-100) !important;
          }
          tr.selected {
            background: #62a0fca3 !important;
          }
          tr{
            td{
              box-shadow: none !important;
              padding: 0.875rem 1.25rem !important;
            }
            td input:focus{
              box-shadow:0 0 0 0.2rem rgba(0, 123, 255, 0)
            }
          }
        }
      }
    }
  }

}