label{
    display: block;
  }

.card{
    padding-top: 10px;
    opacity: 0.95;
    margin-bottom: 30px;
    align-items: center;
    .submit{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
}

