
<!-- <div class="row">
    <div class="col-md-6">
        <button style="height: 20px; line-height: 0.5;"  nbButton status="info" (click)="device_info('edit')"> 编辑</button>
    </div>
    <div class="col-md-6">
        <button style="height: 20px; line-height: 0.5;"  nbButton status="danger" (click)="device_info('del')"> 删除</button>
    </div>
</div> -->

<div class="row" >
    <div class="col-md-6" style="padding: 0px">
        <button class="buedit edit-edit" (click)="device_info('edit')">
            <a class="edit action"  ><i class="nb-edit" style="font-size: 35px;"></i></a>
        </button>
    </div>
    <div class="col-md-6" style="padding: 0px">
        <button class="buremove remove-remove" (click)="device_info('del')">
            <a class="remove action" ><i class="nb-trash" style="font-size: 35px;"></i></a>
        </button>
    </div>
</div>